*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    width: 420px;
    background: purple;
    color: #ffff;
    margin-left: 20px;
}
.wrapper h1{
    font-size: 36px;
    text-align: right;

}